---
import LinkButton from './LinkButton.astro';
import WordPress from './icons/WordPress.astro'
import GitHubIcon from './icons/GitHub.astro'
import WorldWebIcon from './icons/WorldWeb.astro'

const TAGS = {
    WORDPRESS: {
        name: "WordPress",
        class: "bg-black text-white",
        icon: WordPress,
    },
};

const PROJECTS = [
    {
        title: "Delta Colchones y Muebles - E-Commerce",
        description:
            "Desarrollo y diseño del E-Commerce de la marca. Ofrece una amplia selección de colchones y muebles para el hogar.",
        link: "https://deltacenter.com.uy/",
        github: "",
        image: "/projects/delta-project.webp",
        tags: [TAGS.WORDPRESS],
    },
    {
        title: "Cabañas La Pedrera",
        description:
            "Desarrollo y diseño de un complejo de cabañas ubicado en La Pedrera, Uruguay.",
        link: "https://lapedreraderocha.com.uy/",
        github: "",
        image: "/projects/cabanas-project.webp",
        tags: [TAGS.WORDPRESS],
    },
];
---

<div class="flex flex-col gap-y-16">
{
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
            <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt="Imagen del proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
            </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
            <h3 class="text-2xl font-bold text-gray-100">
            {title}
            </h3>
            <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                    <li>
                    <span
                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                    >
                        <tag.icon class="size-4" />
                        {tag.name}
                    </span>
                    </li>
                ))}
                </ul>

            <div class="mt-2 text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
                {github && (
                    <LinkButton href={github}>
                    <GitHubIcon class="size-6" />
                    Ver código
                    
                    </LinkButton>
                )}
                {link && (
                    <LinkButton href={link}>
                    <WorldWebIcon class="size-4" />
                    Ir al sitio
                    </LinkButton>
                )}
                </footer>
            </div>
        </div>
    </article>
    ))
}
</div>